<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultTemplates</key>
	<array>
		<string>新年到、元旦到、有成绩、别骄傲、失败过、别死掉、齐努力、开大炮、好运气、天上掉、同分享、大家乐。天天好运道，日日福星照！</string>
		<string>送你一件外套，前面是平安，后面是幸福，吉祥是领子，如意是袖子，快乐是扣子，口袋里满是温暖，穿上吧，让它相伴你的每一天！新年快乐！</string>
		<string>瑞雪兆丰年。愿片片洁白美丽的雪花，带着我良好的祝愿，飞到您的身边，祝您新年快乐，万事如意！</string>
		<string>人世间一切荣华富贵不如一个知心朋友。在这辞旧迎新的日子里，祝你一切都好！山好水好新年好，大福小福全家福。</string>
		<string>春节将至，祝您大财小财意外财，财源滚滚；亲情友情爱情，情情如意；官运财运桃花运，运运亨通；爱人亲人友人，人人平安。</string>
	</array>
</dict>
</plist>
